# ===== Android SDK (local) =====
local.properties

# ===== Gradle =====
.gradle/
build/
**/build/

# ===== Android Studio =====
.idea/
*.iml

# ===== APK / AAB =====
*.apk
*.aab

# ===== Logs & reports =====
*.log
manifest-merger-*.txt

# ===== OS =====
.DS_Store
Thumbs.db
