<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mayoresfitmakers">

        <activity
            android:name=".PortadaActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.EventosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MapActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SenderismoActivity"
            android:exported="false" />

        <activity android:name=".ui.ActividadesActivity" />
        <activity android:name=".ui.recompensa.RecompensaActivity" />
        <activity
            android:name=".ui.RGPDActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CookiesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ModelosLegalesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AnalisisLegalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CesionImagenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ConsentimientoGrabacionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DocumentosLegalesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SeleccionEjercicioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ReproductorRutinaActivity"
            android:exported="false" />

        <activity
            android:name=".ui.descuento.DescuentoActivity"
            android:exported="false" />


    </application>

</manifest>